body  {
  background-color: slategray;
}
.blend {
  mix-blend-mode: exclusion;
}
.inpost {
  margin-left: 10%;
  padding: 1%;
  height: 40%;
  width: 20%;
  background-color: black;
  color: slategray;
  overflow:scroll;
  display: inline-block;
}
.post {
  margin-left: 25%;
  padding: 1%;
  height: 40%;
  width: 20%;
  background-color: black;
  color: slategray;
}
.nav {
      position: static;
      margin-top: 0px;
      height: 300px;
      width: 600px;
      background: slategray;
      margin-left: 25%;
      background-color: green;
      overflow: scroll;
      padding-left: 1%;
    }
    .nav ul {
      display: block;
      margin: 0;
      padding: 0:0:0:20%;
      position: relative;
    }
    .nav ul li {
      list-style-type: none;
      display: inline-block;
      width: 12%;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .nav ul li a  {
      text-decoration: none;
      text-rendering: geometricPrecision;
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 50px;
      color: black;
      font-family: ProximaNova;
      font-size: 18px;
      transition: transform .3s cubic-bezier(0.55, 0, 0.55, 0.2) , color .3s cubic-bezier(0.55, 0, 0.55, 0.2);
      transform-origin: 50% 30%;
    }
    .nav ul li a:hover {
      color: #D46300;
      transform: scale(1.3);
    }
.grow  {
      padding-bottom: 3%;
      margin-left: 25%;
      margin-right: 25%;
      text-decoration: none;
      text-rendering: geometricPrecision;
      transition: transform .3s cubic-bezier(0.55, 0, 0.55, 0.2) , color .3s cubic-bezier(0.55, 0, 0.55, 0.2);
      transform-origin: 50% 30%;
      text-align: center;
    }
.grow:hover  {
      color: lightblue;
      transform: scale(1.5);
    }
